html, body {
  margin: 0;
  padding: 0;
}
blockquote {
  text-align: center;
}
blockquote p {
  font: italic bold 24px Times;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px 0 320px;
  width: 100%;
}
.container aside,
.container section {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
aside {
  background: #f1f1f1;
  float: left;
  margin-left: -320px;
  width: 300px;
}
section {
  float: right;
  width: 100%;
}
aside nav   {
  top: 0px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}
nav ul li a {
  color: #00f;
}
nav ul li a:hover {
  color: blue;
}

h1 {
  text-align: center;
}
h2 {
  color: blue;
}
p {
  font-size: 16px;
}
section p {
  margin: 3px 0;
}

.half {
  float: left;
  width: 44%;
}
.half:first-child {
  border-right: 1px solid #000;
}
.clear {
  clear: left;
}

.holder {
  clear: both;
  overflow: hidden;
  padding: 20px 0;
}
.holder code {
  background-color: #ddd;
  float: left;
  white-space: pre-wrap;
  width: 100%;
  tab-size: 1;
  -moz-tab-size: 1;
  -o-tab-size: 1;
}
.holder .bad code {
  background-color: #e8cdcd;
}
.holder .good code {
  background-color: #ded;
}
.holder code:first-child {
  border-right: 1px solid #444;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}